<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnString" connectionString="server=ITPOR-IRD\PRUEBAS;database=IRDCOL;integrated security=true" />
  </connectionStrings>
  <appSettings>
    <add key="BackupFolder" value="C:/baks/"/>
    <add key="CrashPlanFolder" value="E:/RespaldoBDs/prm-ix/"/>
    <add key="CrashPlanFileName" value="IRDCOL-PRMIX"/>
    <add key="Servidor" value="odb4://[]-my.sharepoint.com"/>
    <add key="RutaEnElServidor" value="personal/[]/Documents/[]"/>
    <add key="Username" value=""/>
    <add key="Password" value=""/>
  </appSettings>
</configuration> 