<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnString" connectionString="server=ITPOR-IRD\PRUEBAS;database=IRDCOL;integrated security=true" />
  </connectionStrings>
  <appSettings>
    <add key="BackupFolder" value="C:/baks/"/>
  </appSettings>
</configuration> 